.form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: $color-white;

	&__container {
		display: flex;
		justify-content: center;
		background-color: $color-contact;
		width: 100%;
		min-height: 90vh;
		position: relative;
		margin: 1rem 0 1rem 0;
		overflow: hidden;
		border: 1px solid #C5D3D3;

		&::before {
			content: "";
			position: absolute;
			background-image: url("../../../assets/contact-mask.svg");
			background-position: center;
			background-size: cover;
			opacity: 0.6;
			width: 230px;
			height: 230px;
			top: -150px;
			right: -100px;

			@include medium {
				width: 300px;
				height: 300px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			background-image: url("../../../assets/contact-mask.svg");
			background-position: center;
			background-size: cover;
			opacity: 0.6;
			width: 350px;
			height: 350px;
			bottom: -250px;
			right: -150px;

			@include medium {
				width: 400px;
				height: 400px;
			}

			@include large {
				width: 500px;
				height: 500px;
			}
		}
	}

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 75%;

		&::after {
			content: "";
			position: absolute;
			background-image: url("../../../assets/contact-mask.svg");
			background-position: center;
			background-size: cover;
			opacity: 0.6;
			width: 200px;
			height: 200px;
			top: 30%;
			left: -120px;

			@include medium {
				width: 250px;
				height: 250px;
			}

			@include large {
				width: 300px;
				height: 300px;
				left: -100px;
			}
		}
	}

	&__context {
		width: 100%;
		text-align: center;

		@include medium {
			width: 65%;
		}
		p {
			font-size: 1.5rem;
			margin: 1.75rem 0 2.75rem 0;
			line-height: 1.75rem;

			@include medium {
				font-size: 1.75rem;
				margin: 2rem 0 3.5rem 0;
				line-height: 2.25rem;
			}

			@include xlarge {
				font-size: 2rem;
				margin: 2.25rem 0 4rem 0;
				line-height: 3rem;
			}
		}
	}

	&__contact {
		width: 100%;
		text-align: center;
		z-index: 10;

		@include medium {
			width: 70%;
		}

		&--input {
			position: relative;

			input {
				max-width: 860px;
				width: 95%;
				height: 3rem;
				padding-left: 0.5rem;
				border: 2px solid #C5D3D3;
				border-radius: 0.75rem;
				margin-bottom: 1.25rem;
				background-color: rgb(255, 255, 255,0.27);
				transition: all 300ms ease-in-out;
				
				&::placeholder {
					opacity: 0.5;
					font-size: 0.9125rem;
				}

				&:focus {
					background-color: $color-white;
					border-color: $color-green;
				}
			}
		}

		&--label {
			position: absolute;
			transform: translateY(-50%);
			left: 25px;
			background-color: $color-contact;
			font-size: 0.75rem;
			border-radius: 1rem;
			padding: 1px 2px 1px 2px;
		}
	}

	&__error {
		color: red;
	}
}
