.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    opacity: 0.97;
    height: 4rem;
    position: relative;
    z-index: 2;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 1.5rem 0 1.5rem;
    }

    &__menu {
        display: flex;

        &--link {
            margin-right: 1rem;
            color: #ed3170;
            cursor: pointer;
            transition: all 300ms;

            &:hover {
                transform: scale(1.12);
            }
        }
    }

    &__burger {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: none;
        margin-top: -2px;

        &--line {
            width: 1.5rem;
            margin-bottom: 0.35rem;
            height: 2px;
            background-color: $color-black;
        }
    }

    &__list {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 4rem;
        left: 0;
        background-color: $color-white;
        width: 100%;
        height: 20vh;
        z-index: -1;
        transform: translateY(-200%);
        opacity: 0;
        transition: .4s ease-in-out;

        &--item {
            margin: 1rem;
            a {
                color: $color-black;
                cursor: pointer;
                transition: .1s ease-in-out;
                text-decoration: none;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

.active {
    transform: translateY(0%);
    opacity: 1;
}
