.btn {
    border-radius: 2rem;
    font-size: 0.84375rem;
    font-weight: 400;
    border: none;

    &__banner {
        background-color: $color-black;
        color: $color-white;
        padding: 1rem 2rem 1rem 2rem;
    }

    &__timer {
        background-color: $color-white;
        color: $color-black;
        padding: 1rem 2rem 1rem 2rem;
    }
}